{% extends 'base.html' %}

{% block title %}about{% endblock %}



{% block content %}

<div class="container">
    <div class="jumbotron">
    <h4 class="text-center p-5 bg-secondary m-3 text-white">

        Upon opening in 2008,City Hospital was the first multi-disciplinary hospital. 
        As a state-of-the-art healthcare facility, it has continued to dominate healthcare landscape in terms of the quality of its medical staff, the breadth of services it offers and the standard of equipment it operates. 
        With 280 beds, City Hospital can accommodate patients with a wide range of individual health requirements. 
        We offer specialist-focused treatment in the areas of cardiology, radiology,neurology,dermatology and many others.
        
        </h4>
 
    </div>
</div>

{% endblock %}